.card
  border-radius: 16px
  box-shadow: 2px 2px 8px #ccc
  margin: 20px auto
  height: 130px
  width: 280px
  .card-row
    display: flex
    justify-content: space-between
    padding: 12px 15px
    .card-title
      color: darkslateblue
      font-size: 1.2em
      font-weight: 500
      height: 35px
      max-width: 175px
    .card-timer
      font-size: 0.8em
      font-weight: 200
      padding: 3px 0
      i
        margin: 0 3px
  .card-buttons
    display: flex
    justify-content: space-between
    margin: 10px auto
    width: 160px
    .btn-cards
      background: none
      border: 2px solid transparent
      border-radius: 25px
      position: relative
      height: 30px
      width: 30px
      span
        display: block
        margin: 30px 0 0
        position: absolute
        font-weight: 700
        top: 0
        left: -12px
        width: 50px
        text-transform: uppercase
        text-align: center
    .btn-card_done
      color: lightblue
      border-color: lightblue
    .btn-card_remove
      color: red
      border-color: red
    .btn-card_dismiss
      color: gold
      border-color: gold