.navegation-menu
  display: flex
  .navegation-item
    border: 1px solid gray
    font-size: 1.1em
    font-weight: 800
    padding: 15px 0
    text-transform: uppercase
    width: 50%
    a
      color: black
      text-decoration: none
.btn-form_open
  background: darkgray
  margin: 12px auto
  opacity: 1
  padding: 10px 16px
  visibility: visible
  &._hide
    opacity: 0
    visibility: hidden