.navegation-menu
  display: flex
  .navegation-item
    border: 0
    font-size: 1.1em
    font-weight: 800
    padding: 15px 0
    text-transform: uppercase
    width: 50%
    &:nth-child(1)
      border-bottom: 2px solid lightblue
    &:nth-child(2)
      border-bottom: 2px solid lightgreen