include ./layout/structure.pug

block content
  include ./layout/header.pug
  button.btn.btn-form_open Adicionar to-do
  main.cards-container
    include ./components/cards.pug
    include ./components/form-add.pug