include ./layout/structure.pug

block content
  header
    nav.navegation-menu
      button.navegation-item To-do
      button.navegation-item Done
  include ./components/cards.pug
  footer.footer-overlay
    button.btn-form_activate Adicionar to-do
    include ./components/form-add.pug