include ./layout/structure.pug

block content
  include ./layout/header.pug
  button.btn.btn-form_open Adicionar to-do
  main.cards-container
    include ./components/form-add.pug
    section.cards-todo
    section.cards-done