.card
  .card-row
    h2.card-title Pagar boletos
    span.card-timer 
      i.fa.fa-clock-o 
      span 12:35AM
  .card-buttons
    button.btn-cards.btn-card_done
      i.fa.fa-check
      span Done
    button.btn-cards.btn-card_remove
      i.fa.fa-times
      span Delete
    button.btn-cards.btn-card_dismiss
      i.fa.fa-ban
      span Dismiss
.card
  .card-row
    h2.card-title Escalar o Cartola
    span.card-timer 
      i.fa.fa-clock-o 
      span 12:35AM
  .card-buttons
    button.btn-cards.btn-card_done
      i.fa.fa-check
      span Done
    button.btn-cards.btn-card_remove
      i.fa.fa-times
      span Delete
    button.btn-cards.btn-card_dismiss
      i.fa.fa-ban
      span Dismiss
.card
  .card-row
    h2.card-title Compras do mês
    span.card-timer 
      i.fa.fa-clock-o 
      span 12:35AM
  .card-buttons
    button.btn-cards.btn-card_done
      i.fa.fa-check
      span Done
    button.btn-cards.btn-card_remove
      i.fa.fa-times
      span Delete
    button.btn-cards.btn-card_dismiss
      i.fa.fa-ban
      span Dismiss
.card
  .card-row
    h2.card-title Presente da esposa
    span.card-timer 
      i.fa.fa-clock-o 
      span 12:35AM
  .card-buttons
    button.btn-cards.btn-card_done
      i.fa.fa-check
      span Done
    button.btn-cards.btn-card_remove
      i.fa.fa-times
      span Delete
    button.btn-cards.btn-card_dismiss
      i.fa.fa-ban
      span Dismiss
.card
  .card-row
    h2.card-title Lavar roupa do futebol
    span.card-timer 
      i.fa.fa-clock-o 
      span 12:35AM
  .card-buttons
    button.btn-cards.btn-card_done
      i.fa.fa-check
      span Done
    button.btn-cards.btn-card_remove
      i.fa.fa-times
      span Delete
    button.btn-cards.btn-card_dismiss
      i.fa.fa-ban
      span Dismiss