doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title To-do

    link(rel="stylesheet" href="css/style.css")

    script(src="https://use.fontawesome.com/9775caf492.js")
    script(src="js/main.js")

  body
    block content